:root {
    --background: #014E56;
    --background-black: #1D1C1E;
    --btn-backround: #E7816B;
    --btn-hover: #002529;
    --black-color: #012F34;
    --white-color: #FFFFFF;
    --text-background: #F67E7E;
}


/* livvic-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 500;
    src: url('/font/livvic-v14-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* livvic-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('/font/livvic-v14-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* livvic-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('/font/livvic-v14-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    display: flex;
    object-fit: cover;

}

h1 {
    margin: 0;
    font-size: 64px;
    line-height: 56px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;

}

html {
    height: 100%;
}

body {
    font-family: 'Livvic',sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 600;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
}


.btn {
    width: 153px;
    height: 48px;
    border-radius: 25px;
    padding: 8px 12px;
    background: transparent;
    cursor: pointer;
}



.container {
    width: 100%;
    max-width: 1211px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
}


/* header qismi */


.header-container {
    display: flex;
    align-items: center;
    padding: 50px;
}

.header {
   background-color: var(--background);
}

.logo {
    margin-right: 80px;
}

.header-list {
    margin-right: auto;
    display: flex;
    gap: 20px;
}


.header-link {
    color: var(--white-color);
    transition: 0.4s;
}
.header-link:hover {
    color: var(--text-background);
}

.header-button {
    color: var(--white-color);
    border: 2px solid #ffffff;
    font-size: 18px;
    line-height: 28px;
    transition: 0.5s;
    text-align: center;
}
.header-button:hover{
    color: var(--btn-hover);
    background: var(--white-color);
}
/* main -Hero  */
.main {
    flex-grow: 1;
}


.main-hero {
    background: var(--background);
    position: relative;
    height: 75vh;
}



.main-hero-container {
    padding: 50px;
    display: flex;
    gap: 30px;
}

.main-hero-title {
    width: 635px;
    font-size: 100px;
    line-height: 100px;
}
.title-span {
    color: var(--text-background);
}

.main-hero-box {
    width: 440px;
}

.line {
    width: 50px;
    height: 4px;
    background: #79C8C7;
    margin-bottom: 75px;
}

.description-hero {
    line-height: 28px;
    font-size: 18px;
}

.hero-img-left {
    position: absolute;
    top: 50px;
    height: 200px;
    width: 100px;
    
}

.hero-img-left-black {
position: absolute; 
z-index: 3;
}

.hero-img-left-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4; 
}

.hero-img-left-blue {
    position: absolute;
    bottom: 0;
}

.hero-img-right {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 500px;
    height: 200px;
}

.hero-img-right-past {
    position: absolute;
    bottom: 0;
    right: 140px;
    z-index: 1;
}

.hero-img-right-1 {
    top: 97px;
    position: absolute;
    z-index: 1;
}

.hero-img-right-kok {
    position: absolute;
    bottom: 0;
}

.hero-img-right-blue {
    width: 50px;
    position: absolute;
    right: 120px;
    top: 80px;
    z-index: 1;
}
.hero-img-right-past-kok {
    position: absolute;
    bottom: 0;
    right: 110px;
}

/* main-project */
.main-project {
    background: var(--black-color);
    position: relative;
}


.main-project-container {
    padding: 100px 50px 100px 50px;
    display: flex;
   justify-content: space-between;
    
}

.main-project-box {
  width: 430px;
}

.project-box-line {
   width: 50px;
   height: 4px;
   background-color: var(--text-background);
   margin-bottom: 40px;
   margin-top: 20px;

}


.main-project-box-right {
   display: flex;
   flex-direction: column;
   padding-top: 50px;
   gap: 30px;
}

.project-aside {
    display: flex;
    align-items: center;
    gap: 10px;
}

.project-aside-content {
    background: #2C6269;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;

}
.project-aside-content img {
margin-top: -10px;
margin-left: -10px;
}

.project-side-row {
    width: 440px;
}

.project-side-row-title {
    color: var(--text-background);
    margin-bottom: 10px;
}
.main-project-img-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 300px;
}

.main-project-img-box_kok2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;

}

.main-project-img-box_kok {
    position: absolute;
    right: 50px;
    top: 48px;

}

.main-project-img-box_1 {
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: 4;
}

.main-project-img-box_blue {
    position: absolute;
    right: 0;
    bottom: 80px;
    opacity: 0.3;
}

/* MAIN-COLLECTION */
.main-collection {
    background: var(--background);
    position: relative;
  
}

.collection-container {
    padding: 100px 50px 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.collection-title {
    text-align: center;
    width: 930px;
    margin-top: 50px;
}
.collection-title-span {
    color: #79C8C7;
}
.collection-box {
    display: flex;
    gap: 10px;
}

.collection-wrapper {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}



.collection-wrapper-descrption {
    margin-top: -20px;
    text-align: center;
}

.collection-wrapper_box {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection-wrapper_box-title {
    color: #79C8C7;
}


.collection-wrapper_box_img {
    margin-top: 25px;
}
.main-collection-box-left {
    position: absolute;
}

.main-collection-box-left-black {
    position: absolute;
    left: 0;
    top: 0;
}

.main-collection-box-left-1 {
    position: absolute;
    left: 50px;
    top: 55px;
}

.main-collection-box-right {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
}

.main-collection-box-right-past-kok {
    position: absolute;
    z-index: 3;
}

.main-collection-box-right-1 {
    position: absolute;
    z-index: 5;
    right: 0;
    bottom: 0;
}

.main-collection-box-right-blue {
    position: absolute;
    right: 0;
     bottom: 0;
     opacity: 0.4;
}

/* CTA-QISMI */
.cta {
    background-color: var(--text-background);
    position: relative;
}

.cta-container {
    padding: 80px 50px 80px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.cta-container-title {
    color: var(--black-color);
    margin-left: 100px;
}

.cta-container-button {
    margin-right: 100px;
    border: 2px solid #012F34;
    font-size: 18px;
    line-height: 28px;
    transition: 0.4s;
}
.cta-container-button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}


.cta-img-past-kok {
    position: absolute;
    bottom: 0;
}

.cta-img-com {
    position: absolute;
    bottom: 0;
    z-index: 5 ;
}

.cta-img-black {
    position: absolute;
    bottom: 0;
    opacity: 0.7;
}

.cta-img-2 {
    position: absolute;
    top: 62px;
}


/* FOOTER - QISMI */
.footer {
background-color: #002529;
}

.footer-container {
    display: flex;
    padding: 50px;
}



.footer-sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.footer_list {
    display: flex;
    align-items: center;
    gap: 50px;
}



.footer_link {
    color: var(--white-color);
        transition: 0.4s;
}
.footer_link:hover{
    color: var(--text-background);
}

.footer-adress {
    margin-left: 150px;
    margin-right: auto;
    opacity: 0.6;
}




.footer_icons {
   margin-left: 200px;
}



.footer-description {
   margin-top: 60px;
   opacity: 0.6;
}



/* ABOUT PAGE QISMI */
.about_hero {
    background-color: var(--background);
    position: relative;
}
.about-hero-container {
    padding: 90px 50px 90px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-hero_box {
    width: 730px;
    margin-top: 30px;
}

.about-hero_line {
    width: 50px;
    height: 4px;
    background-color: var(--text-background);
}

.about-hero_description {
    margin-top: 50px;
}


.about-hero-box-img {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: 0;
    right: 0;
}

.about-hero-box-img-qizil {
    position: absolute;
    bottom: 0;
        right: 0;
        z-index: 3;
}

.about-hero-box-img-1 {
    position: absolute;
    bottom: 155px;
        right: 0;
        z-index: 5;
    }


.about-hero-box-img-black {
    position: absolute;
    bottom: 95px;
    right: 0;
    opacity: 0.3;
}


/* ABOUT-COLLCTION QISM */

.about-collection {
    background-color: #004047;
    position: relative;
}


.about-collection-container {
    padding: 80px 50px 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-meet {
    margin-top: 50px;
}
.about-collection_list {
      flex-wrap: wrap;
        display: flex;
        gap: 25px;

}

.about-collection_item {
    display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--black-color);
    width: 350px;
    margin-top: 50px;
}

.about-collection_item-img {
    margin-top: 20px;
}

.about-collection_item-title {
    margin-top: 12px;
    color: #79C8C7;
}

.about-collection_item-paragrph {
    margin-top: 8px;
}

.about-collection-item-logo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-background);
    margin-bottom: -22px;
    margin-top: 30px;
}
.fa-plus {
    color: #002529;
}

.aden-title {
    color:#79C8C7;
    margin-top: 20px;
}

.aden-p {
    width: 254px;
    margin-left: 20px;
    margin-top: 20px;
}

.aden-box {
    margin-top: 10px;
    display: flex;
    gap: 8px;
}


.about-collection-img-box-own {
    position: absolute;
    width: 200px;
    height: 200px;
}

.about-collection-img-box-own-black {
    position: absolute;
    z-index: 2;
}

.about-collection-img-box-own-1 {
    position: absolute;
    z-index: 3;
    top: 54px;
}

.about-collection-img-box-own-2 {
    position: absolute;
    z-index: 4;
    top: 100px;
    left: 48px;
}

.about-collection-img-box-own-blue {
    position: absolute;
    opacity: 0.3;
}
.about-collection-img-box-two {
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
}
.about-collection-img-box-two-1 {
    position: absolute;
    bottom: 0;
        right: 0;
        z-index: 2;
}

.about-collection-img-box-two-main {
    position: absolute;
        bottom: 0;
        right: 60px;
}


/* ABOUT PROJECT */
.about-project {
    background-color: var(--black-color);
    position: relative;
}

.about-project-container {
    padding: 100px 50px 100px 50px;
  
}

.about-project-title {
    margin-left: 340px;
}

.about-project_logoes {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 95px;
}

.about-project-img-box {
    position: absolute;
    width: 200px;
    height: 200px;
}
.about-project-img-box-round {
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 2;
}

.about-project-img-box-1 {
        position: absolute;
        top: 70px;
        z-index: 5;
    width: 85px;
}

.about-project-img-box-blue {
    position: absolute;
    opacity: 0.3;
    width: 85px;
    height: 70px;
}

.about-project-img-box-kok {
    position: absolute;
    z-index: 3;
}


/* CONTACT QISMI */
.contact-hero {
    background-color: var(--background);
    position: relative;
}

.contact-hero-left {
    width: 540px;
}
.contact-hero-container {
    padding: 50px;
    display: flex;
}


.contact-hero-left-p {
    color: var(--text-background);
    margin-top: 40px;
    font-size: 32px;
    line-height: 48px;
}

.contact-hero-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-hero-item {
    gap: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.contact-hero-item-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #2C6269;
}
.contact-hero-item-img img {
  margin-left: -10px;
  margin-top: -10px;
}

.contact-hero-form {
}

form {
}
.name {
    margin-top: 10px;
}
label {
    opacity: 0.8;
    margin-left: 10px;
}
.name input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    color: var(--white-color);
}


.your {
    margin-top: 10px;
}

textarea {
    width: 100%;
    background: transparent;
        border: none;
        border-bottom: 1px solid #FFFFFF;
        height: 50px;
}
.button {
    width: 123px;
    height: 48px;
    border-radius: 30px;
    margin-top: 20px;
    border: none;
    color: #004047;
    transition: 0.4s;
}
.button:hover {
    background-color: var(--btn-hover);
    color: var(--white-color);
}


.contact-hero-img-box {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 250px;
}

.contact-hero-img-box-qizil {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
}

.contact-hero-img-box-kok {
    position: absolute;
    bottom: 30px;
    right: 0;
}

.contact-hero-img-box-blue {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 50px;
    top: 10px;
}